.smart-table
{
	position: relative;
	margin: 10px;
	display: block;
	width: auto;
	height: auto;
	border: 2px outset #aaa;
}
		
.st-header 
{
	margin: 0;
	height: 30px;
	background-color: #edf1f5;
}
		
.st-top-rows 
{
	padding: 5px;
	float: left;
	color: #000;
	font-size: 16px;
	font-family: Arial, Verbana, sans-serif;
	border-radius: 3px;			
}
		
		
.st-top-rows select 
{
	width: 60px;
}
		
.st-search-btn
{
	padding: 5px;
	float: right;
	margin: 5px;	
	background-color: #ccc;
	color: #000;
	font-size: 16px;
	font-family: Arial, Verbana, sans-serif;
	border-radius: 3px;
	cursor: pointer;
}
		
.st-footer 
{
	margin: 0;
	height: 50px;
}
		
		